<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>

    <section class="landing d-flex justify-content-center align-items-center text-light">
        <div class="text-center">
            <h1 class="fony-weight-bold">Smart Contect Manager</h1>
            <p>Start collecting your important contacts.</p>
            <a type="button" class="btn btn-outline-light mt-4 px-5" th:href="@{/}">Start</a>
        </div>
    </section>
    
</body>
</html>