<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${title}"></title>
</head>

<body class="register">
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    
                    <div class="card-body border-bottom" style="background-color: #cfebff2e;">
                        <h1 class="text-center">Sign up</h1>
                    </div>
                    <div role="alert" th:if="${session.message}" class="alert m-0 p-0">
                        <div th:classappend="${session.message.type}" class="alert text-center m-0 p-0">
                            <span th:text="${session.message.message}"></span>
                        </div>
                        <!-- <th:block th:text="${#session.removeAttribute('message')}"></th:block> -->
                    </div>
                    <div class="card-body border-bottom">
                        <form novalidate action="#" th:action="@{/signup}" method="post" th:object="${userBean}">
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" name="name"
                                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                                    class="form-control" id="name" placeholder="your full name"
                                    th:field="${userBean.name}">
                                <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}">
                                </p>
                                <!-- <div class="invalid-feedback" th:if="${#fields.hasErrors()}" th:each="error : ${#fields.errors('name')}" th:text="${error}"></div> -->
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" id="email"
                                    placeholder="your email" th:value="${userBean.email}">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="password">
                                <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}">
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="description">Description (Optional)</label>
                                <textarea name="description" class="form-control" id="description" rows="1"
                                    placeholder="something about yourself"
                                    th:text="${userBean.description}"></textarea>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" name="agreement" class="form-check-input" id="term-condition">
                                <label class="form-check-label" for="term-condition">Accept terms and conditions</label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-block" style="background-color: #cfebff;">Sign
                                    up</button>
                                <!-- <button type="reset" class="btn btn-warning">Reset</button> -->
                            </div>
                        </form>
                        <div>
                            <p class="text-center mt-4">Aready have an account? <a th:href="@{/signin}">Sign in here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>