<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>

<body>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 mt-5">
                    <div class="register p-2">
                        <h1 class="text-center">Sign up</h1>
                        <form novalidate action="#" th:action="@{/signup}" method="post" th:object="${user}">
                            <div class="form-group">
                                <label for="name">Full Name*</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="your name" th:value="${user.name}">
                            </div>
                            <div class="form-group">
                                <label for="email">Email*</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="your email" th:value="${user.email}">
                            </div>
                            <div class="form-group">
                                <label for="password">Password*</label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label for="description">Description (Optional)</label>
                                <textarea name="description" class="form-control" id="description" rows="5" th:text="${description}"></textarea>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" name="agreement" class="form-check-input" id="term-condition">
                                <label class="form-check-label" for="term-condition">Accept agreement</label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                                <!-- <button type="reset" class="btn btn-warning">Reset</button> -->
                            </div>
                            <div class="text-center mt-3">
                                <p>Aready have an account? <a th:href="@{/signin}">Sign in here</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>